
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">  
  <link href="style.css" rel="stylesheet" type="text/css" />
</head>
<body id='landing'>
  <div class='content'>
  <header>
   <a href="https://qkrishi.com"> <img id="header-img" src="https://img1.wsimg.com/isteam/ip/4da5cd19-a494-4ae2-807b-a3cf3fe0037b/Transparent.png/:/rs=w:476,h:200,cg:true,m/cr=w:476,h:200/qt=q:95">
    <nav>
       <ul>
          <li><a href="about.html">About</a></li>
          <li><a href="dash.html">Dashboard</a></li>
        </ul>
      </header>
    
  </header>
  <main>
    <h1>QuGen </h1>
    <h2> Quantum generated synthetic data that is faster, safer and fairer</h2>
  
    <section id="description">
      <div id="p1">
      QuGen transforms your production data into privacy-preserving and highly realistic synthetic data.QuGen uses advanced quantum algorithms to generate synthetic data which is faster and more accurate than the classical methods. 
      </div>                                                     
        </section>
   </main>
  
  <div id="disclaimer">
      This software is in beta stage.
    </div>
  </div>        
</body>

</html>
